<launch>
  <!-- FAST LIO for lidar odometry -->
  <include file="$(find fast_lio)/launch/mapping_mid360.launch">
      <arg name="rviz" value="false"/>
  </include>
  
  <!-- Load the YAML file with parameters -->
  <rosparam command="load" file="$(find localization)/config/params.yaml"/>

  <!-- Launch the localization node -->
  <node pkg="localization" type="localization_node" name="localization_node" output="screen"/>
</launch>
